{% extends 'Base.html' %}

{% block main_block %}
    <section class="section">
        <h1 class="title">Добавить статью</h1>
        <div class="container">
            <div class="columns">
                <form class="is-half column" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                      <label class="label">Название</label>
                      <div class="control">
                        <input class="input" name="name" type="text">
                      </div>
                    </div>
                    <div class="field">
                        <label class="label">Описание</label>
                        <div class="control">
                            <textarea class="textarea" name="description" placeholder="10 lines of textarea" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="file is-boxed">
                      <label class="file-label">
                        <input class="file-input" type="file" name="pub_file" accept="application/pdf">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Выберите файл…
                          </span>
                        </span>
                      </label>
                    </div>
                    <div class="buttons">
                      <button type="submit" class="button is-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}