{% extends 'Base.html' %}

{% block main_block %}
<section class="section container">
    <div class="columns">
        <div class="column is-half">
            <div class="panel">
                <p class="panel-heading">
                    Все публикации
                {% if user.user_info.user_type == 1 %}
                    <a class="button" href="/add_publication/">Добавить статью</a>
                {% endif %}
                </p>
                {% for publication in publications %}
                    <a href="/publication/{{ publication.id }}/" class="panel-block">
                        {{ publication.name }} - {{ publication.author.first_name }} {{ publication.author.last_name }}
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}