{% extends 'Base.html' %}

{% block main_block %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <form class="is-half column" method="post">
                    {% csrf_token %}
                <div class="field">
                  <label class="label">Имя пользователя</label>
                  <div class="control">
                    <input class="input" name="username" type="text">
                  </div>
                </div>
                <div class="field">
                    <label class="label">Пароль</label>
                    <div class="control">
                        <input type="password" name="password" class="input">
                    </div>
                </div>
                <div class="buttons">
                  <button type="submit" class="button is-primary">Войти</button>
                  <a href="/registration" class="button is-light">Зарегистрироваться</a>
                </div>
            </form>
            </div>
        </div>
    </section>
{% endblock %}