{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title_block %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  </head>
  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Documents
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Домашняя страница
          </a>

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
                {% if user.is_authenticated %}
                    <a class="button is-danger" href="/logout">
                        Выйти
                    </a>
                {% else %}
                    <a class="button is-primary" href="/registration">
                        <strong>Зарегистрироваться</strong>
                    </a>
                    <a class="button is-light" href="/auth">
                        Войти
                    </a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
      {% block main_block %}
      {% endblock %}
  </body>
</html>