{% extends 'Base.html' %}

{% block main_block %}
<section class="section container">
    <div class="columns">
        <div class="column is-half">
            <div class="panel">
                <p class="panel-heading">
                    {{ publication.name }}
                </p>
                <p class="panel-block">
                    {{ publication.author.first_name }} {{ publication.author.last_name }}
                </p>
                <p class="panel-block">
                    {{ publication.description }}
                </p>
                <a href="{{ publication.document.url }}" class="panel-block">
                    {{ publication.document.name }}
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}